<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
  <plugins>
    <farmPlugins>
      <farmReportFarmPlugin categories="false" refreshInterval="0" successBar="Bottom"/>
      <cctrayDownloadPlugin />
      <administrationPlugin password="" />
    </farmPlugins>
    <serverPlugins>
      <serverReportServerPlugin />
      <serverLogServerPlugin />
      <serverInformationServerPlugin />
      <queueStatusServerPlugin />
      <projectConfigurationServerPlugin />
    </serverPlugins>
    <projectPlugins>
      <serverLogProjectPlugin />
      <viewConfigurationProjectPlugin />
      <modificationHistoryProjectPlugin />
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <projectStatisticsPlugin xslFileName="xsl\StatisticsGraphs.xsl" />
    </projectPlugins>
    <buildPlugins>
      <buildReportBuildPlugin>
        <xslFileNames>
          <xslFile>xsl\header.xsl</xslFile>
          <xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\compile.xsl</xslFile>
          <xslFile>xsl\compile-msbuild.xsl</xslFile>
          <xslFile>xsl\MsTestReport2010.xsl</xslFile>
          <xslFile>xsl\MsTestCover2010.xsl</xslFile>
          <xslFile>xsl\StyleCopReport.xsl</xslFile>
        </xslFileNames>
      </buildReportBuildPlugin>
      <buildLogBuildPlugin disableHighlightingWhenLogExceedsKB="50"/>
      <xslReportBuildPlugin description="MSBuild Output"
                            actionName="MSBuildOutputBuildPlugin"
			    xslFileName="xsl\msbuild.xsl" />
      <xslReportBuildPlugin description="MSTest Report"
                            actionName="MSTESTReport"
                            xslFileName="xsl\MsTestReport2010.xsl"/>
      <xslReportBuildPlugin description="Code Coverage Report"
                            actionName="MSTESTCover"
                            xslFileName="xsl\MsTestCover2010.xsl"/>
      <xslReportBuildPlugin description="StyleCop Report"
                            actionName="StyleCopBuildReport"
			    xslFileName="xsl\StyleCopReport.xsl" />
    </buildPlugins>
    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>
  </plugins>
</dashboard>
